doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/admin.css")
    body 
        header.header
            nav
                ul.navs
                    li
                        a(href="/") Shop
                    li
                        a(href="/admin/add-product", class=(path === 'sample' ? 'active' : '')) Add Product
                    li
                        a(href="/Cart") Cart


        main 
            if prods && prods.length > 0
                each product in prods
                    div.grid 
                        h5.title #{product.title}
                        img(width="200", height="250", src="https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJvb2t8ZW58MHx8MHx8&w=1000&q=80")
                        h6.description   Good Book
                        button.btn(type="submit") Add to cart
            else 
                h1 no products