.header {
    height: auto;
    padding: 10px 0px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;

}

.navs {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
  

    width: 50vw;
}

ul {  
    list-style-type: none;  
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
